<div class="w-full grid gap-4 justify-items-center py-12 bg-black text-white">
    <p class="font-medium flex"> <app-icons class="mr-2" icons="header"/>Dreadful Tomato</p>
    <p class="font-medium text-sm"> Home &nbsp; &nbsp; Terms of use &nbsp; &nbsp; Legal &nbsp;&nbsp; 
         Notices&nbsp;&nbsp; Manage &nbsp;&nbsp;Account</p>
    <div class="grid grid-cols-2 gap-5">
        <img src="../../../assets/footer/app.png" width="100">
        <img src="../../../assets/footer/google.png" width="100">
    </div>
    <p class="text-gray-500 text-xs">Copyright 2023 Dreadful Tomato Streamin All Rights Reserved</p>
</div>
